<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="Pelicula" type="ProyectoCinePersistencia.entities.Pelicula"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/Cine"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="ProyectoCinePersistencia/db/mappers/PeliculaMapper.xml"/>
        <mapper resource="ProyectoCinePersistencia/db/mappers/CategoriaMapper.xml"/>
        <mapper resource="ProyectoCinePersistencia/db/mappers/HorarioMapper.xml"/>
        <mapper resource="ProyectoCinePersistencia/db/mappers/VentaMapper.xml"/>
        <mapper resource="ProyectoCinePersistencia/db/mappers/PromocionMapper.xml"/>
        <mapper resource="ProyectoCinePersistencia/db/mappers/UsuarioMapper.xml"/>
        <mapper resource="ProyectoCinePersistencia/db/mappers/GananciaMapper.xml"/>
        <mapper resource="ProyectoCinePersistencia/db/mappers/LoginMapper.xml"/>
        <mapper resource="ProyectoCinePersistencia/db/mappers/RolMapper.xml"/>
        <mapper resource="ProyectoCinePersistencia/db/mappers/SalaMapper.xml"/>
    </mappers>
</configuration>
