<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProyectoCinePersistencia.db.mappers.CategoriaMapper">
    
    <resultMap id="categoriaResultMap" type="ProyectoCinePersistencia.entities.Categoria">
        <id property="IdCategoria" column="IdCategoria"/>
        <result property="Nombre" column="Nombre"/>
    </resultMap>

    <insert id="insertarCategoria" parameterType="ProyectoCinePersistencia.entities.Categoria" useGeneratedKeys="true" keyProperty="idCategoria">
        INSERT INTO categorias (Nombre)
        VALUES (#{nombre})
    </insert>

    <select id="buscarCategoria" parameterType="int" resultType="ProyectoCinePersistencia.entities.Categoria">
        SELECT * FROM categorias WHERE IdCategoria = #{id}
    </select>

    <update id="actualizarCategoria" parameterType="ProyectoCinePersistencia.entities.Categoria">
        UPDATE categorias SET Nombre = #{nombre}
        WHERE IdCategoria = #{idCategoria}
    </update>

    <delete id="eliminarCategoria" parameterType="int">
        DELETE FROM categorias WHERE IdCategoria = #{id}
    </delete>

    <select id="listarCategorias" resultType="ProyectoCinePersistencia.entities.Categoria">
        SELECT * FROM categorias
    </select>
</mapper>
