<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProyectoCinePersistencia.db.mappers.LoginMapper">
    <select id="login" resultType="ProyectoCinePersistencia.entities.Usuario">
        SELECT * FROM usuarios WHERE Nombre = #{email} AND Contrasena = #{password}
    </select>
</mapper>