<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProyectoCinePersistencia.db.mappers.PeliculaMapper">
    
    <resultMap id="peliculaResultMap" type="Pelicula">
        <id property="IdPelicula" column="IdPelicula"/>
        <result property="Titulo" column="Titulo"/>
        <result property="Sinopsis" column="Sinopsis"/>
        <result property="Duracion" column="Duracion"/>
        <result property="fechaEstreno" column="FechaEstreno"/>
        <result property="IdCategoria" column="IdCategoria"/>
    </resultMap>


    <insert id="insertarPelicula" parameterType="ProyectoCinePersistencia.entities.Pelicula" useGeneratedKeys="true" keyProperty="idPelicula">
        INSERT INTO peliculas (Titulo, Sinopsis, Duracion, FechaEstreno, IdCategoria)
        VALUES (#{titulo}, #{sinopsis}, #{duracion}, #{fechaEstreno}, #{idCategoria})
    </insert>

    <select id="buscarPelicula" parameterType="int" resultType="Pelicula">
        SELECT * FROM peliculas WHERE IdPelicula = #{id}
    </select>

    <update id="actualizarPelicula" parameterType="Pelicula">
        UPDATE peliculas SET Titulo = #{titulo}, Sinopsis = #{sinopsis}, Duracion = #{duracion}, FechaEstreno = #{fechaEstreno}, IdCategoria = #{idCategoria}
        WHERE IdPelicula = #{idPelicula}
    </update>

    <delete id="eliminarPelicula" parameterType="int">
        DELETE FROM peliculas WHERE IdPelicula = #{id}
    </delete>

    <select id="listarPeliculas" resultType="Pelicula">
        SELECT * FROM peliculas
    </select>
</mapper>
