<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProyectoCinePersistencia.db.mappers.RolMapper">

    <resultMap id="rolMap" type="ProyectoCinePersistencia.db.mappers.RolMapper">
        <id property="IdRol" column="IdRol"/>
        <result property="nombre" column="nombre"/>
    </resultMap>

    <insert id="insertarRol" parameterType="ProyectoCinePersistencia.entities.Rol" useGeneratedKeys="true" keyProperty="IdRol">
        INSERT INTO roles (nombre)
        VALUES (#{nombre})
    </insert>

    <select id="buscarRol" parameterType="int" resultType="ProyectoCinePersistencia.entities.Rol">
        SELECT * FROM roles WHERE IdRol = #{id}
    </select>

    <update id="actualizarRol" parameterType="ProyectoCinePersistencia.entities.Rol">
        UPDATE roles SET nombre = #{nombre}
        WHERE IdRol = #{IdRol}
    </update>

    <delete id="eliminarRol" parameterType="int">
        DELETE FROM roles WHERE IdRol = #{id}
    </delete>

    <select id="listarRoles" resultType="ProyectoCinePersistencia.entities.Rol">
        SELECT * FROM roles
    </select>

</mapper>