<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProyectoCinePersistencia.db.mappers.UsuarioMapper">

    <resultMap id="usuarioResultMap" type="ProyectoCinePersistencia.entities.Usuario">
        <id property="idUsuario" column="IdUsuario"/>
        <result property="nombre" column="Nombre"/>
        <result property="correo" column="Correo"/>
        <result property="contrasena" column="Contrasena"/>
        <result property="idRol" column="IdRol"/>
    </resultMap>

    <insert id="insertarUsuario" parameterType="ProyectoCinePersistencia.entities.Usuario" useGeneratedKeys="true" keyProperty="idUsuario">
        INSERT INTO usuarios (Nombre,Correo,Contrasena,IdRol)
        VALUES (#{nombre}, #{correo}, #{contrasena}, #{idRol})
    </insert>

    <select id="buscarUsuario" parameterType="int" resultType="ProyectoCinePersistencia.entities.Usuario">
        SELECT * FROM usuarios WHERE IdUsuario = #{id}
    </select>

    <update id="actualizarUsuario" parameterType="ProyectoCinePersistencia.entities.Usuario">
        UPDATE usuarios SET Nombre = #{nombre}, Correo = #{correo}, Contrasena = #{contrasena}, IdRol = #{idRol}
        WHERE IdUsuario = #{idUsuario}
    </update>

    <delete id="eliminarUsuario" parameterType="int">
        DELETE FROM usuarios WHERE IdUsuario = #{id}
    </delete>

    <select id="listarUsuarios" resultType="ProyectoCinePersistencia.entities.Usuario">
        SELECT * FROM usuarios
    </select>
</mapper>